[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tinydb-baseclass = "*"
click = "*"
gtts = "*"
pypdf2 = "*"
pdf2docx = "*"
ebooklib = "*"

[requires]
python_version = "3.7"
